html {
  background: url('https://media.giphy.com/media/tQgB6lM6XCle8/source.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 700px;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 16vh 10% 0px;
  padding: 30px auto 60px;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  padding: 2vh auto;
  margin-bottom: 20px;
  font-size: calc(30px + 2vw);
  font-weight: 500;
  letter-spacing: 2px;
}
h3 {
  margin: 0px;
}
form {
  margin: 12px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(240, 255, 255, 0.5);
  border-radius: 10px;
  width: 30vw;
  min-width: 300px;
}
input {
  padding: 10px;
  margin: 5px;
  width: auto;
  border-radius: 5px;
  border: white;
  color: rgb(96, 156, 194);
}
button {
  padding: 6px;
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(100, 151, 214, 0.25);
  border-radius: 5px;
  border: white;
}
button:hover {
  background: rgba(100, 142, 214, 0.6);
  cursor: pointer;
}
button:active {
  background: rgba(100, 142, 214, 0.8);
  color: white;
}

.error {
  color: rgb(2, 36, 66, 0.6);
  font-size: 20px;
  font-style: italic;
}
.weather__info {
  margin: 10px auto 40px;
}
.weather__key {
  font-size: calc(12px + 0.4vw);
  margin: 2px;
}
.descr {
  margin-top: -9px;
  margin-bottom: 0px;
}
.location, 
.temp {
  font-size: calc(36px + 1vw);
}
.toggleSection {
  position: absolute;
  top: 20px;
  left: 20px;
}
.clickableUnit:hover {
  cursor: pointer;
  color: white;
}
.activeUnit {
  color: white;
}