html {
  background: url('https://media.giphy.com/media/tQgB6lM6XCle8/source.gif');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 680px;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 40px 10% 0px;
  padding: 30px auto 60px;
  font-size: 14px;
  font-family: sans-serif;
  text-align: center;
  color: rgb(50, 89, 131);
  font-family: 'Poppins', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 2vh;
  margin-bottom: 20px;
  font-size: calc(30px + 2vw);
  color: rgb(2, 36, 66);
  font-weight: 500;
}
form {
  margin-top: 12px;
}
input {
  padding: 10px;
  margin: 10px;
  width: auto;
  border-radius: 5px;
  border: white;
}
button {
  padding: 5px;
  margin-top: 3px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(100, 151, 214, 0.3);
  border-radius: 5px;
  border: white;
}
button:hover {
  background: rgba(100, 142, 214, 0.6);
  cursor: pointer;
}
button:active {
  background: rgba(100, 142, 214, 0.8);
  color: white;
}

.error {
  color: rgb(2, 36, 66);
  font-size: 20px;
}
.weather__info {
  background-color: rgba(177, 202, 233, 0.4);
  border-radius: 5px;
  width: 35vw;
  min-width: 300px;
  margin: auto;
}
.weather__key {
  font-size: calc(12px + 0.4vw);
  margin: 0px;
}
.weather__value {
  font-size: calc(20px + 0.5vw);
  color: rgb(2, 36, 66);
}
.up {
  text-transform: uppercase;
  font-size: calc(28px + 0.5vw);
}
img.icon {
  outline-color: transparent;
  outline-style: none;
  outline: none;
  box-shadow: none;
  border: 0;
}